<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Amherst Datamatch</title>
    <!-- Bootstrap -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/styles.css" rel="stylesheet">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>
        <body>
        <br>
        <br>
            <div class="container backsplash">
                <form action="/completed" method="post" data-toggle="validator" data-disable="true" id="myForm">
                


                    <br>
                    <div class="logo"><img class="img-responsive" src="http://i.imgur.com/9DmRE1V.png"></img></div>
                    <br>
                    <div id="splash">
                    <p>Welcome! Fill out this survey, and on Valentine's day, you'll be sent an email matching you with your top 3 true loves, based on real science!</p>

                    <div class="text-center">
                        <button id="button1" class="btn btn-default">Find me a soulmate!</button> 
                    </div>

                    <br>
                </div>

                <div id="survey" class="hide">    
                    
                    <div class="row">
                        <div class="col-sm-8">

                            <div class="form-group">
                                <label for="inputName" class="control-label">Name</label>
                                <input type="text" name="name" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail" class="control-label">Amherst Email</label>
                                <input type="email" name="email"  class="form-control" pattern="[a-z]+[1][5-9]@amherst\.edu" placeholder="ex. bmartin16@amherst.edu" data-error="Invalid email address" required>
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group">
                                <label for="inputPhone" class="control-label">Phone Number</label>
                                <input type="text" name="phone" class="form-control" pattern="^[2-9]\d{2}-\d{3}-\d{4}$" placeholder="ex. 413-542-7433" data-error="Format xxx-xxx-xxxx required" required>
                                <div class="help-block with-errors"></div>
                            </div>

                            <h5>Class:</h4>
                                <ul style="list-style-type: none;">
                                    <li><input type="radio" name="class" value="2019" checked="checked">  2019<br></li>
                                    <li><input type="radio" name="class" value="2018">  2018<br></li>
                                    <li><input type="radio" name="class" value="2017">  2017<br></li>
                                    <li><input type="radio" name="class" value="2016">  2016<br></li>
                                </ul>
                            <h5>I identify as a...</h4>         <!-- questions written in h4-->
                                <ul style="list-style-type: none;">
                                    <li><input type="radio" name="gender" value="man" checked>  Man<br></li>
                                    <li><input type="radio" name="gender" value="woman">  Woman<br></li>
                                    <li><input type="radio" name="gender" value="nonbinary">  Non-binary<br></li>
                                </ul>
                            <h5>I am open to seeking...</h4>    <!-- questions written in h4-->
                                <ul style="list-style-type: none;">
                                    <li><input type="checkbox" name="seeking" value=0 checked>  Man<br></li>
                                    <li><input type="checkbox" name="seeking" value=1 checked>  Woman<br></li>
                                    <li><input type="checkbox" name="seeking" value=2 checked>  Non-binary<br></li>
                                </ul>
                        </div>
                    </div>
          

                    <div class="row">
                        <div class="col-sm-8">
                            <h5>1. On a Friday night, you can find me:</h5>
                                <ul style="list-style-type: none;">
                                    <li><input type="radio" name="one" value="a" checked="checked">  Grindin on that wood, swervin, swervin on that wood<br></li>
                                    <li><input type="radio" name="one" value="b">  D and D Party<br></li>
                                    <li><input type="radio" name="one" value="c">  Tindering<br></li>
                                    <li><input type="radio" name="one" value="d">  A-level 4 lyfe<br></li>
                                </ul>
                            <h5>2. Music?</h5>
                                <ul style="list-style-type: none;">
                                    <li><input type="radio" name="two" value="a" checked="checked">  Rap<br></li>
                                    <li><input type="radio" name="two" value="b">  K-pop<br></li>
                                    <li><input type="radio" name="two" value="c">  Uvin's Top 10<br></li>
                                    <li><input type="radio" name="two" value="d">  Whatever I can grind to<br></li>
                                </ul>
                            <h5>3. Breakfast?</h5>
                                <ul style="list-style-type: none;">
                                    <li><input type="radio" name="three" value="a" checked="checked">  The athlete smoothie<br></li>
                                    <li><input type="radio" name="three" value="b">  Cocoa Crisps + Cheerios<br></li>
                                    <li><input type="radio" name="three" value="c">  When I'm not hungover<br></li>
                                    <li><input type="radio" name="three" value="d">  Amherst serves breakfast?<br></li>
                                </ul>
                            <h5>4. Amherst: where only ________ is silent:</h5>
                                <ul style="list-style-type: none;">
                                    <li><input type="radio" name="four" value="a" checked="checked">  The Amherst Left<br></li>
                                    <li><input type="radio" name="four" value="b">  The Amherst Right<br></li>
                                    <li><input type="radio" name="four" value="c">  The white majority<br></li>
                                    <li><input type="radio" name="four" value="d">  That lacrosse player in your class<br></li>
                                </ul>
                            <h5>5. Favorite Austin Sarat sex position?</h5>
                                <ul style="list-style-type: none;">
                                    <li><input type="radio" name="five" value="a" checked="checked">  "Secrets and Lies"<br></li>
                                    <li><input type="radio" name="five" value="b">  "The Death Penalty"<br></li>
                                    <li><input type="radio" name="five" value="c">  "Social Organization"<br></li>
                                    <li><input type="radio" name="five" value="d">  The Piledriver<br></li>
                                </ul>
                            <h5>6. I like my Biddies:</h5>
                                <ul style="list-style-type: none;">
                                    <li><input type="radio" name="six" value="a" checked="checked">  With a fox<br></li>
                                    <li><input type="radio" name="six" value="b">  Knitting socks<br></li>
                                    <li><input type="radio" name="six" value="c">  Wearing Crocs<br></li>
                                    <li><input type="radio" name="six" value="d">  Eating lox<br></li>
                                </ul>
                            <h5>7.  Who's your favorite outspoken Amherst professor?</h5>
                                <ul style="list-style-type: none;">
                                    <li><input type="radio" name="seven" value="a" checked="checked">  Ronald Rosbottom, in faculty meetings<br></li>
                                    <li><input type="radio" name="seven" value="b">  Thomas Dumm on elephants<br></li>
                                    <li><input type="radio" name="seven" value="c">  Adam Sitze on MOOCs<br></li>
                                    <li><input type="radio" name="seven" value="d">  Robert Frost on directions<br></li>
                                </ul>
                            <h5>8. Which restaurant are you?</h5>
                                <ul style="list-style-type: none;">
                                    <li><input type="radio" name="eight" value="a" checked="checked">  Mango Mango<br></li>
                                    <li><input type="radio" name="eight" value="b">  CVS candy aisle<br></li>
                                    <li><input type="radio" name="eight" value="c">  1am Glazed<br></li>
                                    <li><input type="radio" name="eight" value="d">  Drunk Antonio's<br></li>
                                </ul>                    
                            <h5>9. What do you take in your Suzanne Coffey?</h5>
                                <ul style="list-style-type: none;">
                                    <li><input type="radio" name="nine" value="a" checked="checked">  Half-and-half<br></li>
                                    <li><input type="radio" name="nine" value="b">  Sugar<br></li>
                                    <li><input type="radio" name="nine" value="c">  Administrative efficiency<br></li>
                                    <li><input type="radio" name="nine" value="d">  I only drink blue Gatorade<br></li>
                                </ul>
                            <h5>10. What do you wish you could shoot out of your bellybutton?</h5>
                                <ul style="list-style-type: none;">
                                    <li><input type="radio" name="ten" value="a" checked="checked">  Jelly beans<br></li>
                                    <li><input type="radio" name="ten" value="b">  The Amherst men's hockey team<br></li>
                                    <li><input type="radio" name="ten" value="c">  Oboes<br></li>
                                    <li><input type="radio" name="ten" value="d">  Pure beams of light<br></li>
                                </ul>


                               
                                    <input id="button2" type="submit" value="Submit" class="btn btn-default center-block"></input>
                                    <br>
                               
                                <br>    
                               

                </form>

                        </div> 
                    </div>
                </div> <!-- end survey div -->

                  
                
                    
         
           
            
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/jquery-1.12.0.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/bootstrap.min.js"></script>
    <script src="../static/script.js"></script>
    <script src="../static/validator.js"></script>
        </body>
</html>
